<header class="mb-auto">
    <div>
      <strong><h1 class="float-md-start justify-content-center "><a class="head-rose" href="/">Aarone Books, Games, and More</a></h1></strong>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link text-white" href="/">Home</a>
	<a class="nav-link text-white" href="/blog">Blog</a>
        <a class="nav-link text-white" href="/contact">Contact</a>
        <a class="nav-link text-white" href="/about">About</a>
      </nav>
    </div>
</header>
